@charset "utf-8";

/* 全屏背景图 */
body {
    background-image: url("../img/b1.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
/*字体颜色*/
#text {
    position: fixed;
    text-indent: 50px;
    left: 180px;
    right: 180px;
    top: 60px;
    /*height: 280px;*/
    color: #ffffff;
    font-size: 25px;
}
.cmb {
    position: fixed;
    left:15px;
    top: 90px;
    font-weight:bolder;
}
.llogo {
    position: fixed;
    height: 32px;
    width: 32px;
    top: 30px;
    left: 30px;
}

/*去除超链接a下划线*/
a {
    text-decoration: none;
}
a:link{
    color:darkgray;
}
/*鼠标漂浮变色*/
a:hover{
    color:white;
}